.menu-bar {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0, 0 0 1 0;
}

.menu-bar .menu .label {
    -fx-text-fill: #2d3e4c;
}

#lftBtn {
	-fx-background-image: url("icons/lft-btn.png");
	-fx-background-position: center  ;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: 50%;
	-fx-background-radius: 0.0;
	-fx-background-color: #6993bd;
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}
#lftBtn:hover {
	-fx-background-color: #7cabdb;
}
#lftBtn:pressed {
	-fx-background-color: #6993bd;
}
#flipBtn {
	-fx-background-image: url("icons/flip-btn.png");
	-fx-background-position: center  ;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: 50%;
	-fx-background-radius: 0.0;
	-fx-background-color: #6993bd;
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}
#flipBtn:hover {
	-fx-background-color: #7cabdb;
}
#flipBtn:pressed {
	-fx-background-color: #6993bd;
}
#rgtBtn {
	-fx-background-image: url("icons/rgt-btn.png");
	-fx-background-position: center  ;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: 50%;
	-fx-background-radius: 0.0;
	-fx-background-color: #6993bd;
	-fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}
#rgtBtn:hover {
	-fx-background-color: #7cabdb;
}
#rgtBtn:pressed {
	-fx-background-color: #6993bd;
}
#shuffleBtn {
	-fx-background-image: url("icons/shuffle-btn.png");
	-fx-background-position: center  ;
	-fx-background-repeat: no-repeat ;
	-fx-background-size: 50%;
	-fx-background-radius: 0.0;
	-fx-background-color: #6993bd;
	-fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 0);
}
#shuffleBtn:hover {
	-fx-background-color: #7cabdb;
}
#shuffleBtn:pressed {
	-fx-background-color: #6993bd;
}
#cardText {
	-fx-effect: dropshadow(three-pass-box, black, 15, 0, 0, 0);
}


